h1 {
  color: black;
  font-size: 4rem;
}

header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

header a {
  color: lightgrey;
  margin-right: 2rem;
  text-decoration: none;
}

img {
  width: 30rem;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  padding: 8px;
}
